
.dashboard_area {
    padding:80px 0;
    width: 1100px; margin:0 auto;
}

.dashboard_area h1 {
    font-size: 32px; 
    font-family: 'Cafe24Ssurround';
    color: #434343;
    margin-bottom: 40px; text-align: center;
    
}
/* 팝업창 h1 */
.content_left h1 {font-size: 20px;}
/* 팝업창 띄우기 */
.content_left{
    position: absolute; background-color: rgb(255, 255, 255); padding: 5px; box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 10px; display: none; 
}
/* 버튼 꾸미기 */
.btn {
    width: 20%; height: 100%;
    border-radius: 10px;
    left: 0; top: 0; z-index: 99;
    background-color:rgba(252, 203, 45, 0.8);
    border: 0; color: #f4f4f4;
    font-family: 'Cafe24Ssurround';
    font-size: 18px; padding: 0;
    cursor:pointer;
    transition:opacity 0.3s;
    
}

