@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container {
    padding:100px 0;
    width:1100px; margin:0 auto;
    font-family: "Noto Sans KR", sans-serif;
}
.container h1 {
    font-size: 32px; 
    font-family: 'Cafe24Ssurround';
    color: #434343;
    margin-bottom: 40px; text-align: center;
}
.content_left {float: right;
font-size: 24px; color: #434343;}
#centerCntAll {
    font-weight: 900; color: #ffbe3d;
}
#region_select {
    font-family: "Noto Sans KR", sans-serif;
    border: 0; border-bottom: 1px solid #434343;
    font-size: 16px; outline:none;
}
.centerRegionCnt {
    font-weight: 900; color: #ffbe3d;
}
#center_table {
    width: 100%; 
    margin-top: 20px;
}
#center_table thead td {
    font-weight: 700; color: #fafafa;
    background-color: #ffb521;
    border: 0;
}
#center_table td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 16px; padding:15px;
}
#center_table td .number {
    font-size: 10px;
}
/* #center_table .detail_button {
    font-size: 15px;
} */

#center_table tbody tr:nth-child(odd) {
    background-color: #fffcf5;
}

.center_page_area {
    text-align: center; margin-top: 30px;
    font-family: 'Roboto';
}
.center_page_area > * {margin: 10px; vertical-align: middle;}
.center_page_area > button {
    background-color: transparent;
    border: 0; padding: 0; cursor:pointer;
    color: #666; font-size: 24px; opacity: 0.8;
}
.center_page_area > button:hover {
    opacity: 1;
}
.center_page_area .current {font-weight: 700;}

.center_tbody {display: none;}
.center_tbody.active {display: table-row-group;}

.center_detail_table {
    margin-left: 35%;
}

.center_detail_table td {
    padding: 3px;
}