@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.container {
    background-color: rgba(255, 183, 40, 0.05);
}
.main_banner_area {
    background-image: url("/assets/images/banner_bg.jpg");
    background-position: center;
    height:686px;
}
.main_banner_contents {
    width: 1100px; margin:0 auto;
    position: relative;
    height: 100%;
}
.banner_title {
    font-size: 24px;
    padding:15px 20px; padding-bottom: 11px;
    background-color: #fff; display: inline-block;
    border-radius: 10px;
    font-family: 'Cafe24Ssurround';
    margin-top: 80px;
    margin-bottom: 20px;
    color: #ffcc66;;
}
.banner_text {
    font-family: 'Cafe24Ssurround';
    font-size: 48px; color: #fff;
}
.banner_warn {
    font-size: 20px; color: #fff;
    font-family: 'Cafe24Ssurround';
    margin-top: 10px;
}
.main_banner_contents .banner_contents {
    position: absolute; right: 0px; top: 200px;
    font-family: 'Cafe24Ssurround'; color: #fcfcfc;
}
.main_banner_contents .banner_contents .ani_title {
    font-size: 36px; text-align: right; margin-bottom: 8px;
}
.main_banner_contents .banner_contents .content_mid {
    margin-top: 50px;
}
.main_banner_contents .banner_contents .ani_number {
    font-size: 52px; text-align: right; margin-top: 3px;
}
.dashboard_content {
    width: 1100px; margin:0 auto; padding-top: 100px;
    padding-bottom: 180px;
}
.dashboard_content h1 {
    font-size: 28px; color: #333;
    font-family: 'Cafe24Ssurround';
    margin-bottom: 20px;
}
.dashboard_content > div {
    display: inline-block; vertical-align: top;
    text-align: center;
}

.dashboard_content > .content_mid {
    width: 750px; height: 450px; margin-right: 40px;
}
.dashboard_content .pie_chart_area {
    width: 300px;
}
.dashboard_content .pie_chart_area .content_right {
    height: 170px;
}
.dashboard_content .pie_chart_area .content_right:last-child {
    margin-top: 100px;
}
/* .dashboard_content .content_data {width: 1100px; height: 450px; margin-right: 40px;} */