.login_table td {
    padding:10px;
}

.title {
    margin-top: 80px;
    font-size: 32px; 
    font-family: 'Cafe24Ssurround';
    color: #434343;
    margin-bottom: 40px; text-align: center;
}

.login_table input{
    width: 300px;
    padding: 10px;
    outline:none;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    border-radius: 5px;
    text-align: center;
}
.login_table button {
    font-family: 'Cafe24Ssurround';
    border: 0;
    border-radius: 3px;
    background-color: rgb(243, 213, 82) 
    color #fff; padding:10px 20px;
    padding: 10px 30px;
    cursor:pointer;
    font-size: 14px;
    text-align: center;
    margin:10px auto;
    margin-left: calc(100%/3);
    width: 200px;
}
.login_table button:hover {
    background-color: rgb(238, 230, 117);
}
.login_table {width: 540px; margin:10px auto;}