.regist_table td{padding: 10px;}

.title {
    margin-top: 80px;
    font-size: 32px; 
    font-family: 'Cafe24Ssurround';
    color: #434343;
    margin-bottom: 40px; text-align: center;
}

.regist_table input{
    width: 400px; padding: 10px; outline: none; border: 1px solid #ddd;background-color: #f7f7f7;
    border-radius: 5px; 
}
.regist_table button{
    font-family: 'Cafe24Ssurround'; border: 0; border-radius: 3px; background-color: rgb(243, 213, 82) 
    color #fff; padding: 10px 20px; cursor: pointer;
}
.regist_table #regist{width: 200px; margin-top: 30px; margin: 10px;}
.regist_table #cancel{width: 200px; margin-top: 30px;margin: 10px;}
.regist_table {width: 540px; margin: 0 auto;}
.regist_table button:hover{background-color: rgb(238, 230, 117);}
.regist_table tr:last-child{text-align: center;}



