<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.mapper.AnimalInfoMapper">
    <insert id="insertAnimalInfo">
        INSERT INTO animal_info
        (
            age, careAddr, careNm, careTel, officetel, colorCd, desertionNo, 
            filename, popfile, happenDt, happenPlace, kindCd, neuterYn, noticeSdt, 
            noticeEdt, noticeNo, orgNm, processState, sexCd, specialMark, weight
        )
        VALUES
        (
            #{age}, #{careAddr}, #{careNm}, #{careTel}, #{officetel}, #{colorCd}, #{desertionNo}, 
            #{filename}, #{popfile}, #{happenDt}, #{happenPlace}, #{kindCd}, #{neuterYn}, #{noticeSdt}, 
            #{noticeEdt}, #{noticeNo}, #{orgNm}, #{processState}, #{sexCd}, #{specialMark}, #{weight}
        )
    </insert>
</mapper>
