<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.mapper.CenterInfoMapper">
    <select id="selectCenterInfo" resultType="com.greenart.vo.CenterInfoVO">
        select distinct orgNm, careNm, careAddr, careTel, processState, count(processState) as careDogCnt,
            case 
                when orgNm like '서%울%특%' then '서울' 
                when orgNm like '부%산%광%' then '부산' 
                when orgNm like '대%구%광%' then '대구' 
                when orgNm like '인%천%광%' then '인천' 
                when orgNm like '광%주%광%' then '광주' 
                when orgNm like '대%전%광%' then '대전' 
                when orgNm like '울%산%광%' then '울산' 
                when orgNm like '세%종%특%' then '세종' 
                when orgNm like '경%기%도%' then '경기' 
                when orgNm like '강%원%도%' then '강원' 
                when orgNm like '충%청%북%' then '충북' 
                when orgNm like '충%청%남%' then '충남' 
                when orgNm like '전%라%북%' then '전북' 
                when orgNm like '전%라%남%' then '전남' 
                when orgNm like '경%상%북%' then '경북' 
                when orgNm like '경%상%남%' then '경남' 
                when orgNm like '제%주%특%' then '제주' 
            end as region
            from animal_info
            where processState = '보호중' group by careNm
    </select>
    <select id="selectCenterInfoCnt" resultType="com.greenart.vo.CenterInfoVO">
        select count(distinct careNm) as centerCnt from animal_info
    </select>
</mapper>
