<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.mapper.DogInfoMapper">
<!-- <select id="selectDogInfo" resultType="com.greenart.vo.DogInfoVO">
        select * ,
            case when sexCd = 'F' then '암컷'
            when sexCd = 'M' then '수컷'
            when sexCd='Q' then '미상'
            end as sex,
            case when neuterYn = 'N' then '중성화 X'
            when neuterYn = 'Y' then '중성화 O'
            when neuterYn = 'U' then '미상' end as sexYn
        from animal_info
    where 
    <![CDATA[        
            date_format(noticeSdt, '%Y-%m-%d') <= str_to_date(NOW(),'%Y-%m-%d')
            and 
            date_format(noticeSdt, '%Y-%m-%d')>Date_sub(str_to_date(NOW(),"%Y-%m-%d"), interval 3 day)
            order by noticeSdt desc
    ]]>
</select> -->
<!-- <select id="selectCnt" resultType="java.lang.Integer">
    select count(*) as allCnt 
    from animal_info 
	where 
    <![CDATA[
	date_format(noticeSdt, '%Y-%m-%d') <= str_to_date(NOW(),'%Y-%m-%d')
	and 
	date_format(noticeSdt, '%Y-%m-%d')>Date_sub(str_to_date(NOW(),"%Y-%m-%d"), interval 3 day)
	limit 12 
    ]]>
</select> -->

<!-- 지역별 강아지 리스트 나오게 하기 -->
<select id="selectRegionDogInfo" resultType="com.greenart.vo.DogInfoVO">
	select * from
		(
		select *, mid(kindCd,4) as kind,
			case when sexCd = 'F' then '암컷'
            when sexCd = 'M' then '수컷'
            when sexCd= 'Q' then '미상' end as sex,
            case when neuterYn = 'N' then '중성화 X'
            when neuterYn = 'Y' then '중성화 O'
            when neuterYn = 'U' then '미상' end as sexYn,
			case 
				when orgNm like '%서%울%특%' then '서울특' 
                when orgNm like '%부%산%광%' then '부산광' 
                when orgNm like '%대%구%광%' then '대구광' 
                when orgNm like '%인%천%광%' then '인천광' 
                when orgNm like '%광%주%광%' then '광주광' 
                when orgNm like '%대%전%광%' then '대전광' 
                when orgNm like '%울%산%광%' then '울산광' 
                when orgNm like '%세%종%특%' then '세종특' 
                when orgNm like '%경%기%도%' then '경기도' 
                when orgNm like '%강%원%도%' then '강원도' 
                when orgNm like '%충%청%북%' then '충청북' 
                when orgNm like '%충%청%남%' then '충청남' 
                when orgNm like '%전%라%북%' then '전라북' 
                when orgNm like '%전%라%남%' then '전라남' 
                when orgNm like '%경%상%북%' then '경상북' 
                when orgNm like '%경%상%남%' then '경상남' 
                when orgNm like '%제%주%특%' then '제주특' 
			end as region
			from animal_info order by noticeSdt desc
			) a  
			<if test = "region != 'all'">
				where region =#{region} 
			</if>
		limit 36
</select>
<!-- 팝업창으로 만들기  -->
<select id="selectDogInfoById" resultType="com.greenart.vo.DogInfoVO">
    select *, mid(kindCd,4) as kind,
    case when sexCd = 'F' then '암컷'
            when sexCd = 'M' then '수컷' 
            when sexCd= 'Q' then '미상' end as sex,
            case when neuterYn = 'N' then '중성화 X'
            when neuterYn = 'Y' then '중성화 O'
            when neuterYn = 'U' then '미상' end as sexYn
    from animal_info where seq = #{seq}
</select>
</mapper>