<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.mapper.MemberInfoMapper">
<!-- 전체 데이터 넣어주기 -->
<insert id="InsertMemberInfo">
INSERT INTO member_info
    (seq, name, password, id, email, birth, gen, address, address_detail, phone)
VALUES
    (#{seq},#{name}, #{password}, #{id}, #{email}, #{birth}, #{gen}, #{address}, #{address_detail}, #{phone});
</insert>
<!-- 아이디 중복값 체크 -->
<select id="selectMemberById" resultType="java.lang.Integer">
    select count(*) from member_info where id=#{id}
</select>
<!-- 이메일 중복값 체크 -->
<select id="selectMemberByEmail" resultType="java.lang.Integer">
    select count(*) from member_info where email=#{email}
</select>
<!-- 회원가입 정보 - 회원가입 된 사람인가? -->
<select id="memberLogin" resultType="java.lang.Integer">
    select count(*) from member_info where id= #{id} and password=#{pwd}
</select>
<!-- 회원가입된 사람의 정보 가져오기 -->
<select id="selectMemberInfo" resultType="com.greenart.vo.MemberInfoVO">
    select seq, name, password, id, email, birth, gen, address, address_detail, phone, status from member_info where id=#{id}
</select>
<!-- <select id="selectMemberByseq" resultType="com.greenart.vo.MemberInfoVO">
    select * from member_info where seq=#{seq}
</select>
<update id="updateMemberInfo">
UPDATE member_info
    SET 
        name=#{name},
        password=#{password}, 
        id=#{id}, 
        email=#{email}, 
        gen=#{gen}, 
        birth=#{birth}, 
        address=#{address}, 
        address_detail=#{address_detail}, 
        phone=#{phone}, 
    WHERE seq=#{seq};
</update> -->

</mapper>